<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet", href="/static/afterentr.css">
</head>
<body>
    <img class="backImage" src='/static/uku_logo___seal_engl 1.svg' />
    <div class="login-container">
        <div class="top-container">
            <img class="our" src="/static/Logo.svg">
            {% if user %}
                {% if is_student %}
                    <button class="profile-button" onclick=redirectToProfileStudent()><img style="height: 10px" src="\static\profile.svg">          {{ user['name'] }}</button>
                {% else %}
                    <button class="profile-button" onclick=redirectToProfileEmployer()><img style="height: 10px" src="\static\profile.svg">          {{ user['name'] }}</button>
                {% endif %}
            {% else %}
                <button class="profile-button" onclick=redirectToLogin()><img style="height: 10px" src="\static\login.svg">          Log in</button>
            {% endif %}
        </div>
        <div class="text-container">
            <p>Description</p>
            <p class="text">Are you a student at Ukrainian Catholic University with a hunger for opportunity? Or perhaps an employer seeking to tap into a pool of skilled and passionate individuals? Look no further because we've crafted the perfect space just for You! 
                Welcome to “Ucupation” cutting-edge job platform, where talent meets opportunity in a seamless digital landscape.</p>
            <p>Why Use UCUPation?</p>
            <p class="text"><span style="font-weight: bold;">Tailored for UCU Students:</span> As a student, your journey towards a successful career begins here. Our platform is exclusively designed to cater to the unique skills, aspirations, and ambitions of Ukrainian Catholic University students. Whether you're an aspiring software engineer or a future leader in finance, there's a place for you to shine.</p>
            <p class="text"><span style="font-weight: bold;">Empowering Career Opportunities:</span> Gone are the days of scouring through endless job listings that don't quite match your expertise. Our platform connects you directly with employers who value your skills and understand your potential. Say goodbye to the job hunt frustrations and hello to exciting career prospects!</p>
            <p class="text"><span style="font-weight: bold;">Streamlined Recruitment Process:</span> For employers, finding the perfect candidate can be like searching for a needle in a haystack. Not anymore. Ucupation offers a streamlined recruitment process, allowing employers to pinpoint candidates who meet their specific requirements with ease. Save time, resources, and headaches by tapping into our curated pool of talented UCU students.</p>
            <p class="text"><span style="font-weight: bold;">Community-Centric Approach:</span> Beyond just a job platform, we foster a vibrant community where students and employers can engage, collaborate, and grow together. Networking opportunities, career development resources, and industry insights are just a click away, enriching your journey towards success.</p>
        </div>
        <div class="signout-container">
            <div class="buttons">
                {% if user %}
                    {% if not is_student %}
                        <button class="main-button" onclick=redirectToStudents()><img style="height: 10px" src="\static\student.svg">          Students</button>
                    {% else %}
                        <button class="main-button" onclick=redirectToStudentsError()><img style="height: 10px" src="\static\student.svg">          Students</button>
                    {% endif %}
                {% else %}
                <button class="main-button" onclick=redirectToError()><img style="height: 10px" src="\static\student.svg">          Students</button>
                {% endif %}

                {% if user %}
                    {% if is_student %}
                    <button class="main-button" onclick=redirectToVacancies()><img style="height: 10px"src="\static\job.svg">          Vacancies</button>
                    {% else %}
                        <button class="main-button" onclick=redirectToVacanciesError()><img style="height: 10px"src="\static\job.svg">          Vacancies</button>
                    {% endif %}
                {% else %}
                <button class="main-button" onclick=redirectToError()><img style="height: 10px"src="\static\job.svg">          Vacancies</button>
                {% endif %}

            </div>
                {% if user %}
                    <button class="signout-button" onclick=redirectToSignOut()><img style="height: 10px"src="\static\sign_out.svg">          Sign out</button>
                {% endif %}
        </div>
    </div>
</body>
<script>
    function redirectToLogin() {
        window.location.href = "/login";
    }
    function redirectToSignOut() {
        window.location.href = "/sign_out";
    }
    function redirectToProfileStudent() {
        window.location.href = "/profile_student.html";
    }
    function redirectToProfileEmployer() {
        window.location.href = "/profile_employer.html";
    }
    function redirectToVacancies() {
        window.location.href = "/main_page"
    }
    function redirectToVacanciesError() {
        alert("Only students can access this page.")
    }
    function redirectToStudents() {
        window.location.href = "/main_page_employer"
    }
    function redirectToStudentsError() {
        alert("Only employers can access this page.")
    }
    function redirectToError() {
        alert("You have to sign in firstly.")
    }
    
</script>
</html>
