<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet", href="/static/afterentr.css">
</head>
<body>
    <img class="backImage" src='/static/uku_logo___seal_engl 1.svg' />
    <div class="login-container">
        <div class="top-container">
            <img class="our" src="/static/Logo.svg">
            {% if user %}
                {% if is_student %}
                    <button class="profile-button" onclick=redirectToProfileStudent()><img style="height: 10px" src="\static\profile.svg">          {{ user['name'] }}</button>
                {% else %}
                    <button class="profile-button" onclick=redirectToProfileEmployer()><img style="height: 10px" src="\static\profile.svg">          {{ user['name'] }}</button>
                {% endif %}
            {% else %}
                <button class="profile-button" onclick=redirectToLogin()><img style="height: 10px" src="\static\login.svg">          Log in</button>
            {% endif %}
        </div>
        <div class="text-container">
            <p>Description</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat est velit egestas dui id. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augueLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 


                Volutpat est velit egestas dui id. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augue... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat est velit egestas dui id. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augue... 
                
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat est velit egestas dui id. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augue... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat est velit egestas dui id. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augue... 
                Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augue... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat est velit egestas dui id. Sed euismod nisi porta lorem mollis aliquam ut porttitor. Ultrices in iaculis nunc sed augue... </p>
        </div>
        <div class="signout-container">
            <div class="buttons">
                {% if user %}
                    {% if not is_student %}
                        <button class="main-button" onclick=redirectToStudents()><img style="height: 10px" src="\static\student.svg">          Students</button>
                    {% else %}
                        <button class="main-button" onclick=redirectToStudentsError()><img style="height: 10px" src="\static\student.svg">          Students</button>
                    {% endif %}
                {% else %}
                <button class="main-button" onclick=redirectToError()><img style="height: 10px" src="\static\student.svg">          Students</button>
                {% endif %}

                {% if user %}
                    {% if is_student %}
                    <button class="main-button" onclick=redirectToVacancies()><img style="height: 10px"src="\static\job.svg">          Vacancies</button>
                    {% else %}
                        <button class="main-button" onclick=redirectToVacanciesError()><img style="height: 10px"src="\static\job.svg">          Vacancies</button>
                    {% endif %}
                {% else %}
                <button class="main-button" onclick=redirectToError()><img style="height: 10px"src="\static\job.svg">          Vacancies</button>
                {% endif %}

            </div>
                {% if user %}
                    <button class="signout-button" onclick=redirectToSignOut()><img style="height: 10px"src="\static\sign_out.svg">          Sign out</button>
                {% endif %}
        </div>
    </div>
</body>
<script>
    function redirectToLogin() {
        window.location.href = "/login";
    }
    function redirectToSignOut() {
        window.location.href = "/sign_out";
    }
    function redirectToProfileStudent() {
        window.location.href = "/profile_student.html";
    }
    function redirectToProfileEmployer() {
        window.location.href = "/profile_employer.html";
    }
    function redirectToVacancies() {
        window.location.href = "/main_page"
    }
    function redirectToVacanciesError() {
        alert("Only students can access this page.")
    }
    function redirectToStudents() {
        window.location.href = "/main_page_employer"
    }
    function redirectToStudentsError() {
        alert("Only employers can access this page.")
    }
    function redirectToError() {
        alert("You have to sign in firstly.")
    }
    
</script>
</html>
