<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/profile_employer.css">
    <title>Profile</title>
</head>
<body>
    <img class="backImage" src='/static/uku_logo___seal_engl 1.svg' />
    <div class="search-container">
        <img src="/static/Logo.svg" onclick=to_index() alt="Логотип">
        <input type="text" class="search-input" placeholder="Search">
        <button class="profile-button" onclick=to_index()>Main page</button>
    </div>
    <div class="profile-container">
        <div class="info-container" id="personal-info-container">
            <!-- Personal info  -->
            <div class="text-container">
                <h2>Personal  and contact information</h2>
                <p>Name: <span class="new_span" style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['name'] }}</span></p>
                <p>Surname: <span class="new_span" style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['surname'] }}</span></p>
                <p>Company name: <span class="new_span" style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['company_name'] }}</span></p>
                <p>Email address: <span class="new_span" style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['email'] }}</span></p>
                <p>Phone number: <span class="new_span" style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['phone'] if 'phone' in user_data else ''}}</span></p></p>
                <button class="edit-button" onclick="editButton('personal')"><img style="height: 10px" src="\static\edit.svg">          Edit</button>
            </div>
            <div class="photo-container">
                <!-- Photo -->
                {% if user_data['profile_image'] %}
                    <img class="user-photo" src="{{ user_data['profile_image'] }}">
                {% else %}
                    <img class="user-photo" src="/static/Photo.svg">
                {% endif %}
            </div>
        </div>
        <div class="info-container" id="personal-edit-container" style="display: none;">
            <div class="text-container" id="personal-form-container">
                <h2>Edit Personal and contact information</h2>
                <form class="text-container" id="personal-form" action="/update_profile_employer" method="post">
                    <p>Name:</p>
                    <input type="text" name="name" id="edit-name" value="{{ user_data['name'] }}" placeholder="Enter name">
                    <p>Surname:</p>
                    <input type="text" name="surname" id="edit-surname" value="{{ user_data['surname'] }}" placeholder="Enter surname">
                    <p>Company name:</p>
                    <input type="text" name="company-name" id="edit-company-name" value="{{ user_data['company_name'] }}" placeholder="Enter company name">
                    <p>Phone number: </p>
                    <input type="text" name="phone-number" id="edit-phone" value="{{ user_data['phone'] if 'phone' in user_data else ''}}" placeholder="Enter your phone number">
                    <p>Email address: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['email'] }}</span></p>
                    <!-- <p>Email address:</p>
                    <input type="text" name="email" id="edit-email" value="{{ user_data['email'] }}" placeholder="Enter age"> -->
                    <button class="save-button" type="submit"><img style="height: 10px"src="\static\save.svg">          Save</button>
                    <button type="button" class="out-button" style="width:100%" onclick="goBackInfo('personal')"><img style="height: 10px"src="\static\back.svg">          Back</button>
                </form>
            </div>
            <div>
                <div class="profile-pic">
                    <label class="-label" for="file">
                    <span class="glyphicon glyphicon-camera"></span>
                    <span>Change Image</span>
                    </label>
                    <input id="file" type="file" onchange="loadFile(event)" accept="image/*" />
                    <img src="/static/Photo.svg" id="output" width="200" />
                </div>
            </div>
        </div>
        <!-- <div class="info-container">
            <div class="text-container">
                <h2>Contact information</h2>
                <p>Email address: <span class="new_span" style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['email'] }}</span></p>
                <p>Phone number: </p>
                <button class="edit-button">Edit</button>
            </div>
        </div> -->
        <div class="edit-account">
            <button class="out-button" onclick="signOut()"><img style="height: 10px"src="\static\sign_out.svg">          Sign out</button>
            <!-- <button class="delete-button" onclick="deleter()"><img style="height: 10px"src="\static\exit.svg">          Delete account</button> -->
            <button class="delete-button" onclick="openModal()"><img style="height: 10px"src="\static\exit.svg">          Delete account</button>
            <!-- The Modal -->
        </div>
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <p>Do you really wish to delete your account?</p>
                <button class="out-button" onclick="closeModal()">No!</button>
                <button class="delete-button" onclick="deleter()">Yes, delete!</button>
            </div>
        </div>
        <h2 class="job-offers" style="margin-top: 1%;">My job offers</h2>
        <button class="out-button" onclick=showAddJobForm()><img style="height: 10px" src="\static\plus.svg">          Add</button>
        <div id="addJobFormContainer" class="info-container" style="display: none;">
            <div class="vacancy">
                <h2>Add Job Offer</h2>
                <form id="addJobForm" method="POST" action="/add_job_offer">
                    <p style="color: rgba(196, 97, 64, 1);">Job name</p>
                    <input type="text" id="jobName" name="jobName" placeholder="Job name" required><br>
                    <p style="color: rgba(196, 97, 64, 1);">Skills</p>
                    <input type="text" id="skills" name="skills" placeholder="Skills" required><br>
                    <p style="color: rgba(196, 97, 64, 1);">Employment options</p>
                    <input type="text" id="employment" name="employment" placeholder="Employment options" required><br>
                    <p style="color: rgba(196, 97, 64, 1);">Description</p>
                    <textarea type="text" id="description" name="description" placeholder="Description" required></textarea><br>
                    <button type="submit" class="out-button"><img style="height: 10px"src="\static\save.svg">          Submit</button>
                    <button type="button" class="out-button" onclick=goBack()><img style="height: 10px"src="\static\back.svg">          Back</button>
                </form>
            </div>
        </div>
        {% for vacancy in vacancies.find({'email':user_data["email"]}) %}
        <div class="info-container">
            <div class="vacancy">
                <h2>{{ vacancy['job_name'] }}</h2>
                <p style="color: rgba(196, 97, 64, 1);">Skills</p>
                <span>{{ vacancy['skills'] }}</span>
                <p style="color: rgba(196, 97, 64, 1);">Employment options</p>
                <span>{{ vacancy['employment'] }}</span>
                <p style="color: rgba(196, 97, 64, 1);">Description</p>
                <span>{{ vacancy['description'] }}</span>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <button class="edit-button" style="width: 25%"><img style="height: 10px"src="\static\edit.svg">          Edit</button>
                    <button class="delete-button"><img style="height: 10px"src="\static\delete_vacancy.svg">          Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script src="/static/profile_employer.js"></script>
</html>
