<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/profile_student.css">
    <title>Profile</title>
</head>
<body>
    <img class="backImage" src="/static/uku_logo___seal_engl 1.svg" />
    <div class="search-container">
        <img class="logo-home" src="/static/logo.svg" alt="Логотип" onclick=to_index()>
        <!-- <input type="text" class="search-input" placeholder="Search"> -->
        <button class="profile-button" onclick=to_index()>Main page</button>
    </div>
    <div class="profile-container">
        <div class="info-container" id="personal-info-container">
            <div class="text-container" id="personal-text-container">
                <h2>Personal and contact information</h2>
                <p>Name: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['name'] }}</span></p>
                <p>Surname: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['surname'] }}</span></p>
                <p>Age: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['age'] }}</span></p>
                <p>Phone number: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['phone'] if 'phone' in user_data else ''}}</span></p>
                <p>Email address: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['email'] }}</span></p>
                <button class="edit-button" onclick="editButton('personal')"><img style="height: 10px" src="\static\edit.svg">          Edit</button>
            </div>
            <div class="photo-container">
                {% if user_data['profile_image'] %}
                    <img class="user-photo" src="{{ user_data['profile_image'] }}">
                {% else %}
                    <img class="user-photo" src="/static/Photo.svg">
                {% endif %}
            </div>
        </div>
        <div class="info-container" id="personal-edit-container" style="display: none;">
            <div class="text-container" id="personal-form-container">
                <h2>Edit Personal and contact information</h2>
                <form class="text-container" id="personal-form" action="/update_profile_personal" method="post" enctype="multipart/form-data" onsubmit="return validatePhoneNumber()">
                    <div class="text-c">
                        <div class="text-container">
                            <p>Name:</p>
                            <input type="text" name="name" id="edit-name" value="{{ user_data['name'] }}" placeholder="Enter name" required>
                            <p>Surname:</p>
                            <input type="text" name="surname" id="edit-surname" value="{{ user_data['surname'] }}" placeholder="Enter surname" required>
                            <p>Age:</p>
                            <input type="number" name="age" id="edit-age" value="{{ user_data['age'] }}" placeholder="Enter age" onchange="validateAge()" required>
                            <p>Phone number: </p>
                            <input type="text" name="phone-number" id="edit-phone" value="{{ user_data['phone'] if 'phone' in user_data else ''}}" placeholder="Enter your phone number">
                            <p>Email address: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['email'] }}</span></p>
                        </div>
                        <!-- <p>Email address:</p>
                        <input type="text" name="email" id="edit-email" value="{{ user_data['email'] }}" placeholder="Enter age"> -->
                        <div class="profile-pic">
                            <label class="-label" for="file">
                            <span class="glyphicon glyphicon-camera"></span>
                            <span>Change Image</span>
                            </label>
                            <input id="file" type="file" name="image" onchange="loadFile(event)" accept="image/*" />
                            {% if user_data['profile_image'] %}
                                <img src="{{ user_data['profile_image'] }}" id="output" width="200" />
                            {% else %}
                                <img src="/static/Photo.svg" id="output" width="200" />
                            {% endif %}
                        </div>
                    </div>
                    <button class="save-button" style="width: 50%" type="submit"><img style="height: 10px"src="\static\save.svg">          Save</button>
                    <button type="button" class="out-button" style="width: 50%" onclick="goBackInfo('personal')"><img style="height: 10px"src="\static\back.svg">          Back</button>
                </form>
            </div>
        </div>
        <div class="info-container" id="skills-info-container">
            <div class="text-container2" style="width: 100%">
                <h2>Skills</h2>
                <p>Academic degree: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['academic_degree'] }}</span></p>
                <p>Skills: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['skills'] if 'skills' in user_data else ''}}</span></p>
                <p>Working experience: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['experience_it'] }}</span></p>
                <p>English level: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['english'] if 'english' in user_data else ''}}</span></p>
                <p>Description: <span style="font-weight: 590; color: rgb(128, 58, 21);">{{ user_data['description'] if 'description' in user_data else ''}}</span></p></p>
                <button class="edit-button" style="width: 25%" onclick="editButton('skills')"><img style="height: 10px" src="\static\edit.svg">          Edit</button>
            </div>
        </div>
        <div class="info-container" id="skills-edit-container" style="display: none;">
            <div class="text-container">
                <h2>Edit Skills</h2>
                <form class="text-container" style="width: 100%" id="skills-form" action="/update_profile_skills" method="post" onsubmit="return validateEnglishLevel()">
                    <p>Education: </p>
                    <select name="degree" id="edit-education">
                        <option value="Bachelor" {% if 'Bachelor' == user_data['academic_degree'] %} selected {% endif %}>Bachelor</option>
                        <option value="Master" {% if 'Master' == user_data['academic_degree'] %} selected {% endif %}>Master</option>
                        <option value="Unfinished Bachelor" {% if 'Unfinished Bachelor' == user_data['academic_degree'] %} selected {% endif %}>Unfinished Bachelor</option>
                    </select>
                    <p>Skills: </p>
                    <input type="text" name="skills" id="edit-skills" value="{{ user_data['skills'] if 'skills' in user_data else ''}}" placeholder="Enter your skills">
                    <!-- <p>Working experience: </p>
                    <input type="text" name="experience" id="edit-experience" value="{{ user_data['experience_in_it'] if 'experience' in user_data else ''}}" placeholder="Enter Yes or No"> -->
                    <p>Working experience: </p>
                    <select name="experience" id="edit-experience">
                        <option value="yes" {% if 'yes' == user_data['experience_it'] %} selected {% endif %}>yes</option>
                        <option value="no" {% if 'no' == user_data['experience_it'] %} selected {% endif %}>no</option>
                    </select>
                    <p>English level: </p>
                    <input type="text" name="english" id="edit-english" value="{{ user_data['english'] if 'english' in user_data else ''}}" placeholder="Enter your English level">
                    <p>Description: </p>
                    <div class="description-container">
                        <textarea name="description" id="description-text" oninput="autoResize(this)">{{ user_data['description'] if 'description' in user_data else '' }}</textarea>
                        <!-- <div id="scroll-div"></div> -->
                    </div>
                    <!-- <input type="text" name="description" id="edit-description" value="{{ user_data['description'] if 'description' in user_data else ''}}" placeholder="Enter more detailed information about you"> -->
                    <button class="save-button" style="width:50%;" type="submit"><img style="height: 10px"src="\static\save.svg">          Save</button>
                    <button type="button" class="out-button" onclick="goBackInfo('skills')"><img style="height: 10px"src="\static\back.svg">          Back</button>
                </form>
            </div>
        </div>
        <div class="edit-account">
            <button class="sign-out-button" onclick="signOut()"><img style="height: 10px"src="\static\sign_out.svg">          Sign out</button>
            <button class="deleate-button" onclick="openModal()"><img style="height: 10px"src="\static\exit.svg">          Delete account</button>
            <!-- The Modal -->
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <p>Do you really want to delete your account?</p>
                <button class="out-button-for-delete" onclick="closeModal()">No</button>
                <button class="deleate-button" onclick="deleter()">Yes</button>
            </div>
        </div>
    </div>
</body>
<script src="/static/profile_student.js"></script>
</html>
