<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" type="text/css" href="/static/reset-password.css">
</head>
<body>
    <img class="backImage" src="/static/uku_logo___seal_engl 1.svg" />
    <div class="login-container">
        <button class="back-button" onclick="toLogin()"><img src="/static/arrow-left-o.svg"></button>
        <div class="logo-container">
            <img class="our" src="/static/Logo.svg">
        </div>
        <h2 style="font-size: 30px;">Reset your password</h2>
        {% if existing_email_error %}
        <p class="error" style="font-size: 15px; color: rgb(215, 45, 45);">{{ existing_email_error }}</p>
        {% endif %}
        <form id="resetPasswordForm" action="/reset_password" method="POST">
            <span>Email</span>
            <input type="email" name="email" placeholder="username@gmail.com" value="{{ session['email'] }}">
            {% if regex_password_error %}
            <div class="regex-password">
                <p class="error" style="font-size: 11px; color: rgb(215, 45, 45);">{{ regex_password_error[0] }}</p>
                <p class="error" style="font-size: 11px; color: rgb(215, 45, 45);">{{ regex_password_error[1] }}</p>
            </div>
            {% endif %}
            <span>New Password</span>
            <input type="password" id="newPassword" name="new-password" placeholder="New Password">
            <span>Confirm Password</span>
            <input type="password" id="confirmPassword" name="new-again-password" placeholder="Confirm Password">
            <button class="submit-button" type="submit">Set</button>
        </form>
    </div>
</body>
<script>
    function toLogin() {
        window.location.href = "/login"
    }
</script>
</html>
